{%extends 'container/base.html'%}
{%block right%}
<script type="text/javascript">
    $(function(){
        $("#f_c").attr('class', 'active');
    })
</script>

<form method="post" action="" >
{% csrf_token %}
 <div role="form" class="form-horizontal" >
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label">容器ID</label>
        <div class="col-sm-9">
            <span class="form-control" style="height:auto;min-height:34px">{{request.GET.id}}</span>
            <input type="hidden" name="id"  value="{{request.GET.id}}" >
        </div>
    </div>
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label">宿主机</label>
        <div class="col-sm-9">
            <span class="form-control" style="height:auto;min-height:34px">{{request.GET.host}}</span>
            <input name="hostname" type="hidden" value="{{request.GET.host}}" >
        </div>
    </div>
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label">镜像</label>
        <div class="col-sm-9">
            <span class="form-control" style="height:auto;min-height:34px">{{request.GET.image}}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label">repository</label>
        <div class="col-sm-9">
            <input name="repository" class="form-control" value="{{repo}}" >
        </div>
    </div>
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label">tag</label>
        <div class="col-sm-9">
            <input name="tag" class="form-control" value="" >
        </div>
    </div>
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label">author</label>
        <div class="col-sm-9">
            <input name="author" class="form-control" value="{{request.user}}" >
        </div>
    </div>
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label">message</label>
        <div class="col-sm-9">
            <input name="message" class="form-control" value="" >
        </div>
    </div>
    <div class="form-group">
        <label for="content"  class="col-sm-2 control-label"></label>
        <div class="col-sm-9">
            <input type="submit" value="提交" class="btn btn-primary">
        </div>
    </div>

</div>
</form>
{%endblock right%}